{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
  <div class="col-md-12 text-justify">

    <h1 class="text-center">{{_('Perguntas Frequentes')}}</h1><br>

    <h3>1. A ideia é ser um índice geral dos dados abertos que estão disponíveis?</h3><br>

    <p>Não exatamente, a ideia é ser um grande catalogo de bases de dados abertos e aplicações que fazem uso 
      dessas informações. O Dados Livres é mais um local com bases limpas e prontas para usar parecido com o 
      projeto <a href="https://colaboradados.com.br/" id="color-red" target="_blank">colaboradados.com.br</a>, 
      com a principal diferença que no dadoslivres.org é possível cadastrar aplicações cívicas e futuramente 
      ligar-lá junto as bases de dados abertos.</p><hr>

    <h3>2. Eu posso cadastrar qualquer tipo de fonte, por exemplo, uma API relacionada a algo específico 
      sobre saúde ou educação?</h3><br>

    <p>Se essa API atender aos critérios de dados livres, sim.</p><hr>

    <h3>3. E se alguém cadastrar qualquer besteira no Dados Livres?</h3><br>

    <p>Para cadastrar uma nova fonte ou aplicação no dadoslivres.org, primeiro o usuário precisa 
      criar um cadastro na plataforma e aceitar os nossos termos de uso e política de privacidade. 
      Além disso, pretendemos criar métricas de verificação de links na tela de cadastro da fonte e 
      da aplicação, também desenvolver as funcionalidades de denunciar uma fonte, aplicação ou 
      usuário e adicionar comentários dos usuários nas páginas de perfil das fontes e 
      aplicações cadastradas na plataforma.</p><hr>

    <h3>4. Existe alguma regra para saber se a fonte de dados abertos é segura?</h3><br>

    <p>Em geral, serão os próprios usuários cadastrados na plataforma que irão avaliar o 
      conteúdo, além de poderem utilizar as informações, do site.</p><hr>

    <h3>5. Quem irá colocar as fontes de dados abertos e as aplicações cívicas na plataforma Dados Livres?</h3><br>

    <p>Os usuários da plataforma que irão cadastrar, a ideia é fazer com que as pessoas participem e 
      colaborem com o projeto.</p><hr>

    <h3>6. Pode cadastrar fontes de dados abertos de todo o Brasil ou só de lugares específicos 
      cadastrados no site?</h3><br>

    <p>Sim, pode cadastrar fontes de dados abertos de qualquer lugar do Brasil, depois queremos criar opções 
      de filtros para facilitar o encontro dessas fontes.</p><hr>

    <h3>7. Quais as categorias de fontes de dados abertos e aplicações cívicas que podem ser 
      cadastradas no Dados Livres?</h3><br>

    <p>Depende dos usuários, presumimos que temas ligados a sociedade civil como cultura, educação, segurança 
      pública e vários outros. Também queremos permitir que os usuários surgiram novas categorias.</p><hr>

    <h3>8. A construção da interface do dadoslivres.org foi baseada em algum outro site?</h3><br>

    <p>Sim, no <a href="https://hackr.io/" id="color-red" target="_blank">hackr.io</a> só que os dois sites 
      tem objetivos diferentes.</p><hr>

    <h3>9. O Dados Livres busca parcerias para o futuro?</h3><br>

    <p>Sim, quanto mais pessoas interessadas em contribuir com o crescimento do Dados Livre melhor, também 
      o projeto já foi e continua sendo apresentado em vários lugares.</p><hr>

    <h3>10. Quais as tecnologias utilizadas no desenvolvimento do projeto?</h3><br>

    <p>A linguagem de programação Python e o Microframework Web Flask para o backend e as tecnologias 
      HTML, CSS, Bootstrap e o Javascript para o frontend.</p><hr>

    <h3>11. O que diferencia o dadoslivres.org do que o governo já oferta em 
      <a href="https://dados.gov.br/" id="color-red" target="_blank">dados.gov.br</a>?</h3><br>

    <p>O Dados Livres incentiva a participação dos usuários com a catalogação de fontes de dados abertos 
      e aplicações cívicas de maneira fácil de encontrá-las e organizadas por categorias e tags. 
      As suas bases de dados poderão ser ligadas as aplicações cívicas criadas e vice-versa. 
      No formulário de cadastro da fonte, o usuário irá cadastrar o link da fonte original e 
      poderá cadastrar, caso exista, o link da fonte de dados abertos tratada. Em outros planos, 
      permitir o cadastro de notícias e artigos científicos de dados abertos no Dados Livres.</p>
  
  </div>
</div>

{% endblock %}