{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="row">
  <div class="col-md-12 text-justify">

    <h1 class="text-center">{{_('Perguntas Frequentes')}}</h1><br>

    <h2>1. A ideia aqui é ser um índice geral dos dados abertos que estão disponíveis? Tipo o brasil.io ?</h2>

    <p>A ideia é ser um grande catalogo de bases de dados abertos e aplicações que fazem uso dessas informações. Não
      exatamente, porque a proposta do Brasil.io não é um índice. O Dados Livres é mais um local com bases limpas e
      prontas para usar, mais parecido com o colaboradados só que é possível cadastrar aplicações cívicas e futuramente
      ligar aplicações e as bases. Além de várias outras funcionalidades planejadas.</p>
    <hr>

    <h2>2. Se eu tiver uma API sobre o Covid-19, eu cadastro ela na plataforma para outras pessoas possam ter acesso?
    </h2>

    <p>Serão utilizadas todas as soluções técnicas à disposição do responsável
      pela plataforma para permitir o acesso ao serviço 24 (vinte e quatro)
      horas por dia, 7 (sete) dias por semana. No entanto, a navegação na
      plataforma ou em alguma de suas páginas poderá ser interrompida,
      limitada ou suspensa para atualizações, modificações ou qualquer ação
      necessária ao seu bom funcionamento.</p>
    <hr>

    <h2>3. O site não fica sobrecarregado com tantas fontes?</h2>

    <p>Não, porque é o usuário que cadastra as fontes.</p>

    <hr>

    <h2>4. Pode cadastrar qualquer tipo de fonte, por exemplo, o número de pessoas que morreram?</h2>

    <p>Se a fonte atender aos critérios de dados livres, sim.</p>

    <hr>

    <h2>5. E se alguém cadastrar qualquer besteira?</h2>

    <p>Uma das funcionalidades que está em planejamento é a de denunciar uma fonte, aplicação ou usuário, além dos
      termos de uso e no formulário de cadastrado da fonte ou aplicação terá uma vefiricação do link que a pessoa está
      cadastrando.</p>

    <hr>

    <h2>6. Existe restrições para saber se a fonte é segura?</h2>

    <p>Em geral as próprias pessoas registradas na plataforma poderão avaliar o conteúdo, em breve terá a funcionalidade
      de deixar comentários na página de perfil da fonte ou aplicação.</p>

    <hr>

    <h2>7. Vocês que irão colocar as fontes e aplicações na plataforma?</h2>

    <p>Não, as pessoas que vão cadastrar. A ideia é fazer com que as pessoas participem e colaborem com a plataforma.
    </p>

    <hr>

    <h2>8. Como as fontes funcionam, serão fontes de todo o Brasil ou de lugares específicos cadastradas na plataforma?
    </h2>

    <p>Fontes de todo o Brasil, depois para ficar mais fácil encontrar essas fontes cadastradas na plataforma terá a
      opção do usuário filtrar, ou sejam pesquisar por ela.</p>
    <hr>

    <h2>9. Qual é a temática dos conteúdos que podem ser cadastrados na plataforma?</h2>

    <p>Depende dos usuários. Presumimos que temas ligados a sociedade civil como cultura, educação, segurança pública e
      vários outros. Os usuários também podem sugerir novos temas.</p>

    <hr>

    <h2>10. Se basearam em alguma outra ferramenta para a construça da Interface da plataforma?</h2>

    <p>Sim, no hack.io só que a plataforma tem outro objetivo.</p>

    <hr>

    <h2>11. Buscam parcerias no futuro?</h2>

    <p>Com certeza! Vamos interagir no grupo do Telegram e outros. Além de apresentar a plataforma em vários lugares
      como já estamos fazendo. Estamos abertos a novas ideias e contribuições para fazer a plataforma crescer.</p>

    <hr>
    
    <h2>12. Em qual cenário ela atuará? A ferramenta construída trará manipulações de dados relevantes para entendimento
      do usuário final (seja ele não especialista ou seja ele um tomador de decisões)? Como será solucionado problemas
      como: grandes volumes de dados (indicando a necessidade de se falar sobre big open data)? e quais as estratégias
      de processamento para tipos de dados variáveis?</h2>

    <p>A plataforma, atuará para a sociedade civil como uma catalogação de bases de dados abertos. Um dos nossos
      diferencial é fazer com que as pessoas participem cadastrando esses dados de forma fácil, o que irá ser feito com
      esses dados pelos usuários não é responsabilidade da plataforma. Os dados serão cadastrados ao poucos estamos em
      testes e serão separados por categorias e tags.</p>

    <hr>
    
    <h2>13. Quais as tecnologias usadas no projeto?</h2>

    <p>Python e Flask para o backend. HTML, CSS e Javascript no frontend.</p>
    
    <hr>
    
    <h2>14. O que o projeto diferencia do que o governo já oferta no www.dados.gov.br? </h2>

    <p>Participação dos próprios usuários, grande catalogo de fontes e aplicações organizadas por categorias e tags,
      facilitando encontrar as mesmas. Bases de dados ligadas a aplicações e virce e versa. No futuro, cadastrar
      notícias e artigos científicos sobre dados abertos.</p>

  </div>
</div>

{% endblock %}