{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

  <div class="row">
    <h1 class="text-center">{{_('Como contribuir?')}}</h1><br><br>
    <div class="col-md-12 text-justify">
      <h3>O Dados Livres agradece a sua vontade e disposição ao querer contribuir 
        com uma plataforma livre e voluntária!</h3><br>
      <p>O principal propósito do projeto é ser um ambiente de colaboração e 
        compartilhamento de fontes e aplicações que usam os dados abertos. 
        Saiba mais conferindo a <a href="{{ url_for('main.about') }}"
        id="color-red">página sobre</a> da plataforma.</p><br>
      <p><u>Algumas considerações importantes:</u></p>
      <ul>
        <li><p>O Dados Livres é um projeto totalmente voluntário, 
          sem fins lucrativos e cultiva a filosofia 
          <a href="https://www.gnu.org/philosophy/free-sw.pt-br.html" id="color-red" 
          target="_blank">software livre</a>.</p></li>
        <li><p>Todas as contribuições ao projeto são bem-vindas, afinal a ideia do 
          Dados Livres é progredir por iniciativas voluntárias.</p></li>
        <li><p>Por ser um projeto com poucas pessoas a frente e desenvolvido nos tempos 
          livres, pode ser que demore para a sua contribuição ser vista, mas com calma
          te mandamos uma resposta.
        </p></li>
      </ul><br>
      <h3>Veja 5 motivos para contribuir com o Dados Livres</h3><br>
      <p><a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFGIpTYi20&#x2F;view?utm_content=DAFGIpTYi20&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener" id="color-red">
        Clique aqui para acessar a apresentação 5 motivos para contribuir</a></p><br>
      <h3>Confira algumas possíveis maneiras de como contribuir com o Dados Livres</h3><br>
      <p>Você pode contribuir com qualquer melhoria no projeto, como corrigir textos e links na 
        plataforma, sugerir novas ideias, funcionalidades e muito mais. Em caso de dúvidas você 
        pode nos contatar por e-mail na <a href="{{ url_for('main.contact') }}" id="color-red">
        página de contato</a>.</p>
      <p>Também temos a <a href="https://t.me/dadoslivres" id="color-red" target="_blank">
        comunidade Dados Livres no Telegram</a>. Entre para a nossa comunidade e compartilhe no grupo as 
        suas contribuições, dúvidas ou sugestões ao projeto, para que mais pessoas se interessem em participar
        do grupo.</p><br>
      <h4><strong>Tópicos de contribuição</strong></h4><br>
      <p>1. Cadastre fontes e aplicações que usam dados abertos</p><br>
      <p>Você pode contribuir com o projeto ajudando no cadastro de fontes de dados abertos ou aplicações cívicas. 
        Primeiro, é preciso realizar um <a href="{{url_for('auth.login')}}" id="color-red">login</a> na plataforma 
        ou caso ainda não seja um usuário cadastrado, é necessário realizar um 
        <a href="{{url_for('auth.register_request')}}" id="color-red">cadastro</a> na plataforma. Depois, 
        preencher o formulário de cadastro da <a href="{{url_for('main.register_source')}}" id="color-red">
        fonte</a> ou <a href="{{url_for('main.register_software')}}" id="color-red">aplicação</a> 
        que deseja cadastrar.</p>
      <p>As imagens abaixo mostram os formulários de cadastro da fonte e aplicação:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4"><br>
      <div style="width:300px; display: block; margin: 0 auto; text-align: center">
        <figure>
          <img src="static/image/registrar-fonte.jpg" alt="Exemplo para registrar fonte" style="width:100%; border: 1px solid #ddb9b9;"><br><br>
          <figcaption>Formulário de cadastro da fonte</figcaption>
        </figure>
      </div>
    </div><br>
    <div class="col-md-2"></div><div class="col-md-2"></div>
    <div class="col-sm-6 col-md-4">
      <div style="width:300px; display: block; margin: 0 auto; text-align: center">
        <figure>
          <img src="static/image/registrar-aplicacao.jpg" alt="Exemplo para registrar aplicação" style="width:100%; border: 1px solid #ddb9b9;"><br><br>
          <figcaption>Formulário de cadastro da aplicação</figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div><br><br>
  <div class="row">
    <div class="col-md-12 text-justify">
      <p>Na plataforma temos uma página chamada <a href="{{ url_for('main.ranking') }}" id="color-red">
        ranking de colaboração</a> para rankear os usuários a partir da quantidade de cadastros das fontes 
        de dados abertos e aplicações cívicas, para estimular a colaboração dos usuários com essas 
        fontes ou aplicações.</p><hr><br>
      <p>2. Contribua com o código-fonte</p><br>
      <p>O código-fonte do projeto está disponível na plataforma do 
        <a href="https://gitlab.com/dados-livres/dados-livres" id="color-red" target="_blank">GitLab</a>
        e licenciado sob <a href="https://gitlab.com/dados-livres/dados-livres/-/blob/master/LICENSE"
        id="color-red" target="_blank">Licença GNU GPLv3</a>.</p>
      <p>O sistema usa a linguagem de programação <a href="https://www.python.org/" id="color-red" 
        target="_blank">Python</a> com a <a href="https://flask.palletsprojects.com/en/2.1.x/" 
        id="color-red" target="_blank">Microframework web Flask</a>. Também, é utilizado as 
        tecnologias web HTML5, CSS3, JavaScript e o framework Bootstrap.</p><br>
      <ul>
          <li><p><a href="https://gitlab.com/dados-livres/dados-livres/-/blob/master/README.md#como-instalar" 
            id="color-red" target="_blank">Saiba como instalar o projeto clicando aqui</a></p></li>
          <li><p><a href="https://gitlab.com/dados-livres/dados-livres/-/boards" id="color-red" target="_blank">
            Veja o nosso quadro de tópicos com ideias de contribuição</a></p></li>
          <li><p><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" 
            id="color-red" target="_blank">Aprenda a desenvolver uma aplicação Flask completa clicando aqui</a></p></li>
      </ul><br>
      <h4><strong>Sub-tópicos de contribuição com o código-fonte</strong></h4><br>
      <p>2.1 Melhore o design da plataforma</p><br>
      <p>Melhore a experiência e as interações dos usuários com o sistema, aplique seus conhecimentos de 
        design UX e UI, sugira uma paleta de cores ou fontes de texto, melhore a logo da plataforma e muito mais.<br><br>
        <a href="https://gitlab.com/dados-livres/dados-livres/-/issues/10"
          id="color-red" target="_blank">Clique aqui para discutir sobre o tópico de design</a></p><hr><br>
      <p>2.2 Adicione outros idiomas ao projeto ou faça correções nas traduções</p><br>
      <p>Contribua adicionando textos em inglês no <a href="https://dadoslivres.org/" id="color-red" 
        target="_blank">dadoslivres.org</a> ou no <a href="https://gitlab.com/dados-livres/dados-livres" id="color-red" 
        target="_blank">repositório do projeto</a>. Ajude a corrigir textos, adicione traduções nas fontes e 
        aplicações, contribua para que Dados Livres se torne mais vísivel a outras pessoas.<br><br>
        <a href="https://gitlab.com/dados-livres/dados-livres/-/issues/9" id="color-red" target="_blank">
          Clique aqui para discutir sobre o tópico de idioma e traduções</a></p><hr><br>
      <p>2.3 Aplique testes de software e relate por bugs no sistema</p><br>
      <p>Ajude aplicando testes de software utilizando os conceitos de TDD, relate e solucione possíveis bugs. 
        Contribua para melhorar a qualidade da aplicação.<br><br>
        <a href="https://gitlab.com/dados-livres/dados-livres/-/issues/32" id="color-red" target="_blank">
          Clique aqui para discutir sobre o tópico de testes</a></p><hr><br>
      <p>2.4 Aplique melhorias de segurança</p><br>
      <p>Reforce a segurança da plataforma encontrando possíveis falhas de segurança no sistema.<br><br>
        <a href="https://gitlab.com/dados-livres/dados-livres/-/issues/5" id="color-red" target="_blank">
          Clique aqui para discutir sobre o tópico de segurança</a></p><hr><br>
      <p>2.5 Melhore a documentação</p><br>
      <p>Ajude melhorando o texto da documentação do Dados Livres. <br><br>
        <a href="https://gitlab.com/dados-livres/dados-livres/-/issues/15" id="color-red" target="_blank">
          Clique aqui para discutir sobre o tópico de documentação</a></p><hr><br>
      <p>2.6 Ajude no desenvolvimento da API</p><br>
      <p>Ajude no desenvolvimento de uma API Web para o Dados Livres. <br><br>
        <a href="https://gitlab.com/dados-livres/dados-livres/-/issues/8" id="color-red" target="_blank">
          Clique aqui para discutir sobre o tópico de API</a></p><hr><br><br>
    </div>
  </div>

{% endblock %}
