{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_pagination.html' as macros %}

{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{% if software.title %}{{ software.title }}{% endif %}</h1><br>
      <p>{{_('Categoria')}}: {% for category in software.categories %}
        {{ category }}</p>{% endfor %}{% if software.owner %}
      <p>{{_('Desenvolvedor')}}: {{ software.owner }}</p>{% endif %}
        {% if software.license %}<p>{{_('Licença')}}: {{ software.license }}
        {% endif %}{% if software.dateCreation %}<p>{{_('Data de criação')}}:
        {{ software.dateCreation }}</p>{% endif %}
      <p>{{_('Palavras-Chaves')}}: {% for tag in software.tags %}{{ tag }}{% endfor %}</p>
      {% if software.description %}<p>{{ software.description }}</p>{% endif %}<br>
      {% if software.user_id == current_user.id %}
        <p><a href="{{ url_for('main.edit_software', id=software.id) }}" id="color-red">{{_('Editar aplicação')}}</a> |
          <a href="{{ url_for('main.deletar_software', id=software.id) }}" id="color-red">{{_('Apagar aplicação')}}</a></p>
      {% endif %}
      <br><h4><a href="{{ software.officialLink }}" id="buttonPerfil">{{_('Visitar página oficial')}}</a><h4><br>
      <h4><hr>{{_('Aplicação registrada por')}}:
        <a href="{{ url_for('main.user', nickname=software.author.nickname ) }}" id="color-red">
          @{{ software.author.nickname }}</a><hr></h4><br>
    </div><br>
    <div class="col-md-12">
      <h2>Aplicações que você pode gostar</h2><br>
      {% for similar_software in similar_softwares.items %}
        <p><a href="{{ url_for('main.software_profile', title=similar_software.title) }}" id="color-red">{{ similar_software.title }}</a>
        <p>Categoria: {{ similar_software.category }}</p><br>
      {% else %}
        <p>Nenhum software relacionado encontrado.</p>
      {% endfor %}
      {{ macros.render_pagination(softwares_next_url, softwares_prev_url) }}<br>
      <h2>Fontes usadas na aplicação</h2><br>
      {% for source in sources %}
        <p><a href="{{ url_for('main.source_profile', title=source.title) }}" id="color-red">{{ source.title }}</a></p>
      {% else %}
        <p>Ainda não existem aplicações para essa fonte.</p>
      {% endfor %}
      <br><hr><p>Indique uma fonte que usa essa aplicação:</p>
      <p>{{ wtf.quick_form(form) }}</p><hr>
    </div>
  </div><br><br>
{% endblock %}
