{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

	<div class="row">
		<h1 class="text-center">{{_('Aplicações')}}</h1><br>
		<h4 class="text-center">
			{{_('Encontre as principais categorias de aplicações abertas.')}}
		</h4><br><br>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.cinema_software') }}" id="category-link">{{_('Cinema')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.culture_software') }}" id="category-link">{{_('Cultura')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.economy_finance_software') }}" id="category-link">{{_('Economia e Finanças')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.geography_software') }}" id="category-link">{{_('Geografia')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.health_software') }}" id="category-link">{{_('Saúde')}}</a></h4>
		</div>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.science_technology_software') }}" id="category-link">{{_('Ciência e Tecnologia')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.covid19_software') }}" id="category-link">{{_('Covid-19')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.statistics_software') }}" id="category-link">{{_('Estatística')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.environment_software') }}" id="category-link">{{_('Meio Ambiente')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.public_safety_software') }}" id="category-link">{{_('Segurança Pública')}}</a></h4>
		</div>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.climate_software') }}" id="category-link">{{_('Clima')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.education_software') }}" id="category-link">{{_('Educação')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.sports_leisure_software') }}" id="category-link">{{_('Esporte e Lazer')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.oil_gas_software') }}" id="category-link">{{_('Petróleo e Gás')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.transportation_software') }}" id="category-link">{{_('Transporte')}}</a></h4>
		</div>
	</div><br><br>

{% endblock %}
