{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

	<div class="row">
		<h1 class="text-center">{{ _('Fontes') }}</h1><br>
		<h4 class="text-center">
			{{_('Encontre as principais categorias de fontes de dados abertos.')}}
		</h4><br><br>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.cinema_source') }}" id="category-link">{{_('Cinema')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.culture_source') }}" id="category-link">{{_('Cultura')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.economy_finance_source') }}" id="category-link">{{_('Economia e Finanças')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.geography_source') }}" id="category-link">{{_('Geografia')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.health_source') }}" id="category-link">{{_('Saúde')}}</a></h4>
		</div>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.science_technology_source') }}" id="category-link">{{_('Ciência e Tecnologia')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.covid19_source') }}" id="category-link">{{_('Covid-19')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.statistics_source') }}" id="category-link">{{_('Estatística')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.environment_source') }}" id="category-link">{{_('Meio Ambiente')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.public_safety_source') }}" id="category-link">{{_('Segurança Pública')}}</a></h4>
		</div>
		<div class="col-sm-4 col-md-4">
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.climate_source') }}" id="category-link">{{_('Clima')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.education_source') }}" id="category-link">{{_('Educação')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.sports_leisure_source') }}" id="category-link">{{_('Esporte e Lazer')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.oil_gas_source') }}" id="category-link">{{_('Petróleo e Gás')}}</a></h4>
			<h4 class="text-center"><a class="topic-grid-item" href="{{ url_for('category.transportation_source') }}" id="category-link">{{_('Transporte')}}</a></h4>
		</div>
	</div><br><br>

{% endblock %}
