{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_pagination.html' as macros %}

{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <figure><img src="{{ user.avatar(100) }}" id="imagem_user" alt="foto de perfil do usuário"></figure>
      <h1>{% if user.username %}{{ user.username }}{% endif %}
      <small>{% if user.nickname %}@{{ user.nickname }}{% endif %}</small></h1>
      <small>Mude sua foto de perfil criando uma conta em <a href="https://br.gravatar.com/"
        id="color-red" target="_blank">Gravatar</a>.</small><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>{% if user.about_me %}{{ user.about_me }}{% endif %}</p><br>
      {% if user == current_user %}
        <p><a href="{{ url_for('main.edit_profile', id=user.id) }}" id="color-red">{{_('Editar perfil')}}</a></p>
        <!--<p><a href="{{ url_for('main.deletar_user', id=user.id) }}" id="color-red">{{_('Apagar perfil')}}</a></p>-->
      {% endif %}
    </div>
  </div><hr><br><br>

  <div class="row">
    <div class="col-md-12">
      <h2>{{_('Fontes registradas por')}} {{ user.username }}:</h2>
      {% for source in sources.items %}
        <hr>{% include '_source.html' %}<hr>
      {% else %}
        <p>Você ainda não cadastrou nenhuma fonte</p>
      {% endfor %}
      {{ macros.render_pagination(sources_next_url, sources_prev_url) }}<br>
      <h2>{{_('Aplicações registradas por')}} {{ user.username }}:</h2>
      {% for software in softwares.items %}
        <hr>{% include '_software.html' %}<hr>
      {% else %}
        <p>Você ainda não cadastrou nenhuma aplicação</p>
      {% endfor %}
      {{ macros.render_pagination(softwares_next_url, softwares_prev_url) }}
    </div>
  </div><br><br>
{% endblock %}